<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="bg-warning">
<div class="text-center" style="margin-top: 10%;">

    <h1><img alt="500" th:src="@{/images/500.png}" src="images/500.png"></h1>
    <h2 class="text-uppercase">Something went wrong.</h2>
    <h3>哎呀，服务器也是要休息的👇。工程师正在赶来ing.</h3>
    <a class="btn btn-outline-dark" th:href="@{/main}"> 返回主页</a>

</div>
</body>

</html>
